.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    font-weight: 1000 !important;
    color: black !important;
}

.css-105qr5e{
    border-radius:20px;
    border-color: white!important;
}

.css-105qr5e:focus-visible{
    outline: none;
}

.userSelect {
    margin-top: 30px;
}

.css-1869usk-MuiFormControl-root {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;

}

.checkbox {
    display: flex;
    align-items: center;
}

.checkboxButton {
    margin-left: 20px;
}

.checkbox p {
    font-size: 18px;
    font-weight: 700;
}

.buttonRole {
    color: #282c34;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.checkboxButtonAction {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: green;
    color: white;
}

.addButtonUser {
    display: flex;
    justify-content: end;
}

.actionRole {
    background: #2e7d32;
    color:white;
}

.borderColorRed::placeholder {
    color: red!important;
}

.messageError{
    text-align: center;
    color:red;
    font-size: 20px;
}

.css-1wc848c-MuiFormHelperText-root.Mui-error{
    margin-left:0!important;
    font-weight: 700;
    font-size: 13px;
}

.changeUserInput .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: #2e7d32!important;
}

.changeUserInput .checkbox p{
    color: #2e7d32!important;
}

.inputUser{
    margin:0!important;
    width: 100% !important;
}

.inputUser .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin:10px 0!important;
}






