.department {
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid gainsboro;
}

.depart_title {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
    font-size: 23px !important;
}


.addDep {
    margin-bottom: 15px;
    display: flex;
    margin-left: 20px;
}

.addDepInput {
    margin: 15px 0
}

.department .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    background-color: #1c8bd5 !important;
}
