.department {
    border-radius: 5px;
    width: 100%;
}

.depart_title {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.depart_title h2 {
    margin: 0;
    font-weight: 500;
    color: #7c7c7c;
}

.addDep {
    margin-bottom: 15px;
}

.addDepInput {
    margin: 15px 0
}
