.additionalMenu {
    display: flex;
    align-items: center;
    margin-right: 30px !important;
    color: black !important;
}

.additionalMenu p {
    margin-right: 10px;
}

.linkAdditional {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuHeader {
    justify-content: space-between !important;
    width: 100% !important;
}
.linkAdditional button svg path{
    color: #282c34!important;
}
.css-1ps4owl-MuiTypography-root-MuiLink-root{
    text-decoration: none!important;
}
.css-1ps4owl-MuiTypography-root-MuiLink-root:hover{
    color: #2e7d32!important;
}