.registration input{
    display: flex!important;
    justify-content: end!important;
    width: calc(100% - 20px);
    padding:10px;
    font-size: 20px;
}


.registration h2{
    text-align: right;
    margin-right: 50px;
    text-decoration: underline;
    color:blue;
    margin-top: 0;
}