.position{
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid gainsboro;
}

.position_title{
    margin: 20px 10px ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 23px!important;
    color: #7c7c7c;
}
.accordions{
    width: 95%;
}
.addPos {
    margin-bottom: 15px;
    display: flex;
}

.changePos{
    margin-left: 20px;
}

.position .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    background-color: #1c8bd5 !important;
}
