.position{
    border-radius: 5px;
    width: 100%;
    display: contents;
}

.position_title{
    margin: 20px 10px ;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.position_title h2{
    margin: 0;
    font-weight: 500;
    color: #7c7c7c;
}
.accordions{
    width: 95%;
}