.department {
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid gainsboro;
}

.depart_title {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
    font-size: 23px !important;
}

.addDepInput {
    margin: 15px 0
}

.department .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    background-color:#dcdcdc !important;
    color: #282c34!important;
}
.departmentPagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.noData{
    font-size: 24px;
    color: darkgrey;
}
.department .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    min-height: 480px!important;
}

.department .css-1ygcj2i-MuiTableCell-root{
    width: 50% !important;
}
