.group {
    border-radius: 5px;
    width: auto;
    padding: 20px;
    margin: 30px;
    border: 1px solid gainsboro;
}

.group_title {
    margin: 20px 10px;
    display: flex;
    font-size: 23px !important;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
}

.addGroupButton {
    font-size: 11px !important;
    width: 100%;
    max-width: 90px;
}

.inputBlock .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
    margin-bottom: 10px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
    width: 80% !important;
}


.group .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    background-color:#dcdcdc !important;
    color: #282c34!important;
}

.group .css-1ygcj2i-MuiTableCell-root {
    color: black !important;
}

.buttonAdd {
    margin-bottom: 15px;
    display: flex;
}

.css-quj9j6-MuiTable-root {
    margin-bottom: 40px;
}

.css-1ex1afd-MuiTableCell-root {
    border-bottom: 1px solid #e0e0e0 !important;
}
.groupPagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.noData{
    font-size: 24px;
    color: darkgrey;
}

 .headlinesTable{
    width: auto!important;
}

.group .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    min-height: 480px!important;
}
