.position{
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid gainsboro;
}

.position_title{
    margin: 20px 10px ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 23px!important;
    color: #7c7c7c;
}
.accordions{
    width: 95%;
}
.addPos {
    margin-bottom: 15px;
    display: flex;
}

.changePos{
    margin-left: 20px;
}

.position .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    background-color:#dcdcdc !important;
    color: #282c34!important;
}
.positionPagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.noData{
    font-size: 24px;
    color: darkgrey;
}

.position .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    min-height: 480px!important;
}

.position .css-1ygcj2i-MuiTableCell-root{
    width: 50% !important;
}